body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
    background-color: #8E33FB;
}

.quem-somos{
    background-color: #CFA8FF;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{

}